*{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	text-decoration: none;
	font-weight: normal;
}
.bg{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.bg span{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-size: cover;
	
}
.bg1{
	background-image: url(../imgs/bg.jpg);
	
}
.bg2{
	background-image: url(../imgs/bg1.jpg);
}

.aside{
	width: 250px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(16,116,196,0.3);
	
}
.title{
	width: 130px;
	height: 330px;
	position: absolute;
	top: 70px;
	left: 650px;
	
}
.category{
	height: 140px;
	position: absolute;
	left: 250px;
	right: 0;
	bottom: 140px;
	background: rgba(0,0,0,0.4);
	
}
.code{
	
	position: absolute;
	right: 0;
	bottom: 0;
	
}
.code img{
	display: block;
}

.news{
	position: absolute;
	top: 50%;
	left: 60%;
}
.aside-logo{
	padding: 30px 40px 50px 40px;
	
}
.aside-logo i{
	display: block;
	text-align: center;
	
	
	
}
.aside-logo img{
	border-radius: 100%;
	
}

.aside-logo font{
	display: block;
	text-align: right;
	font-size: 28px;
	line-height: 130%;
	color: #000;
	padding-top: 10px;
}
.aside-logo small{
	display: block;
	text-align: right;
	font-size: 12px;
	line-height: 130%;
	color: #0c446d;
	text-shadow: 0 0 1px #fff;
}

.aside-nav li{
	position: relative;
	margin-bottom: 10px;
}
.aside-nav_cate{
	padding-left: 45%;
	height: 50px;
	
	position: relative;
	
	
}
.aside-nav_cate small{
	display: block;
	font-size: 10px;
	line-height: 120%;
	color: #489ede;
	padding-top: 10px;
	
}
.aside-nav_cate font{
	display: block;
	font-size: 14px;
	line-height: 130%;
	color: #fff;
	
}
.aside-nav_cate i{
	display: block;
	position: absolute;
	top: 50%;
	left: 25%;
	margin-top: -15px;
	
	
}
.aside-nav_cate img{
	border-radius: 100%;
}
.aside-nav_sub{
	position: absolute;
	top: 0;
	left: 230px;
	width: 160px;
	background: #1074bf;
	opacity: 0;
	visibility: hidden;
	
}
.aside-nav_sub dl{
	padding: 0 20px;
	text-align: center;
}
.aside-nav_sub dd{
	font-size: 14px;
	line-height: 50px;
	height: 50px;
	color: #fff;
	border-bottom: #2183cd solid 1px;
}
.aside-nav_sub a{
	display: block;
	color: #fff;
}
.aside-nav li:hover{
	background: #1074bf;
	transition: all 0.3s;
	
}
.aside-nav li:hover .aside-nav_sub{
	opacity: 1;
	visibility: visible;
	left: 250px;
	transition: all 0.5s;
	
}
.aside-copy{
	
	border-top: #1168a2 solid 1px;
	font-size: 12px;
	line-height: 170%;
	color: #61aae1;
	text-align: right;
	padding-top: 8px;
	position: absolute;
	bottom: 35px;
	left: 30px;
	right: 30px;
	text-shadow: 0 0 1px #000;

}
.news{
	width: 320px;
	
}
.news span{
	color: #1074bf;
	font-size: 12px;
	line-height: 38px;
	height: 38px;
	padding-left: 5px;
	display: block;
	border-bottom: rgba(237,237,237,0.2) solid 1px;
}
.news-body{
	width: 320px;
	height: 78px;
	overflow: hidden;
}
.news-body li{
	font-size: 12px;
	line-height: 38px;
	color: #fff;
	height: 38px;
	border-bottom: rgba(237,237,237,0.2) solid 1px;
	padding-left: 5px ;
}


.news li a{
	color: #fff;
}
.news li a:hover{
	color: red;
}
.tlinks{
	position: fixed;
	top: 15px;
	right: 35px;
}
.tlinks li{
	display: inline-block;
	margin: 5px;
	
}
.tlinks img{
	border-radius: 100%;
	
}
.category ul{
	height: auto;
	overflow: hidden;
	min-width: 1100px;
	
}
.category li{
	width: 140px;/*520*/
	height: 140px;	
	border-right: #3c3c3c solid 1px;
	overflow: hidden;
	float: left;
	transition: all 0.5s;
}
.category li.on{
	width: 520px;
	
	
}
.category-body{
	width: 520px;
	height: 140px;
}
.category-cate{
	width: 140px;
	height: 140px;
	text-align: center;
	float: left;
	
}

.category-cate img{
	padding-top: 30px;
}
.category-cate h4{
	font-size: 14px;
	line-height: 1.5;
	color: #FFFFFF;
	padding-top: 10px;
}
.category-cate:hover{
/*	background: #ec7711;*/
}
.category li.on .category-cate{
	background: #ec7711;
}
.category_img{
	float: left;
	width: 210px;
	height: 140px;
	overflow: hidden;
	
	
}

.category_note{
	width: 170px;
	height: 140px;
	float: left;
	font-size: 12px;
	line-height: 140px;
	color: #fff;
	text-align: center;
	
}


.content{
	width: 820px;
	height: 600px;
	background: rgba(250,250,250,0.85);
	position: absolute;
	top: 200px;
	left: 450px;
	padding: 0 40px;
	
}
.content-bth{
	position: absolute;
	top: 0;
	right: 0;
	margin-right: -20px;
	margin-top: -20px;
	
}
.content-head{
	
	height: 50px;
	font-size: 16px;
	line-height: 50px;
	border-bottom: #000 solid 1px;
	padding-left: 5px;
	
}
.content-head a{
	color: #000000;
}
.content-head span{
	color: #0f73be;
}
.content-body1,
.content-body2{
	margin: 20px 35px 0px 50px; 
	height: 500px;
	overflow-y: scroll;
	padding-right: 20px;
	
}
.content-body1 h3,
.content-body2 h3{
	text-align: center;
	font-size: 28px;
	line-height: 1.5;
	height: 50px;
	color: #1076c1;
}
.content-body1 p{
	
	font-size: 14px;
	line-height: 1.75;
	color: #000;
	text-indent:2em; 
}

.content-body1 img{
	float: right;
	padding-left: 15px;
	margin-top: 5px;
}
.content-body2 div{
	text-align: center;
	font-size: 12px;
	line-height: 15px;
	height: 15px;
	/*height: 50px;*/
	color: #000;
	font-weight: lighter;
	margin-left: 30px;
	margin-bottom: 15px;
}
.content-body2  span{
	margin-left: 15px;
}
.content-body2 p{
	
	font-size: 14px;
	line-height: 1.75;
	color: #000;
	text-indent:2em; 
}
/*产品列表*/
.product-nav{
	width: 820px;
	
}
.product-nav ul{
	height: auto;
	overflow: hidden;
	margin: 30px 0;
}
.product-nav li{
	width: 100px;
	height: 37px;
	margin-right: 20px;
	float: left;
}
.product-nav a{
	font-size: 14px;
	line-height: 35px;
	color: #000000;
	text-align: center;
	display: block;	
	border-radius: 35px;
	border: #000 solid 1px;
}
.product-nav a:hover{
	color: #fff;
	background: #1074bf;
	border-color:rgba(0,0,0,0);
}
.product-nav li.on a{
	color: #fff;
	background: #1074bf;
	border-color:rgba(0,0,0,0);
}
.product-body{
	width: 820px;
	height: 420px;
	overflow-y: scroll;
	
	
}

.product-body_cate{
	width: 230px;
	height: 320px;
	text-align: center;
	display: inline-block;
}
.product-body_cate h3{
	font-size: 14px;
	line-height: 150%;
	color: #000;
	margin-top: 12px;
	
}
.product-list li{
	text-align: justify;
	padding-right: 15px;
}
.product-list li:after{
	content: '.';
	width: 100%;
	display: inline-block;
	height: 0;
	overflow: hidden;
}

/*.content-body3{
	margin: 20px 30px ;
	position: relative;
}
.content-body3_cate{
	float: left;
	width: 102px;
	height: 37px;
	margin-right: 16px;
}
.content-body3_cate a{
	font-size: 14px;
	line-height: 35px;
	color: #000000;
	text-align: center;
	display: block;	
	height: 35px;
	width: 100px;
	border-radius: 35px;
	border: #000 solid 1px;
}
.content-body3_cate a:hover{
	
	color: #fff;
	background: #1074bf;
	border-color:rgba(0,0,0,0);
}
.content-body3_sub{
	
	height: 440px;
	overflow-y: scroll;
	padding-right: 20px;
	padding-left: 5px;
	position: absolute;
	top: 60px;
	left: 0;
	text-align: justify;
	display: none;
}
.content-body3_sub dd{
	display: inline-block;
	width: 230px;
	
	
}
.content-body3_sub h3{
	font-size: 14px;
	height: 80px;
	line-height: 40px;
	color: #000;
	text-align: center;
}
.content-body3_sub dl:after{
    content:'.';
    width: 100%;
    display: inline-block;
    overflow: hidden;
    height: 0;
 }
.content-body3 .on .content-body3_sub{
	display: block;
}
.content-body3 .on .content-body3_cate a{
	background: #1074bf;
	border-color:rgba(0,0,0,0);
	color: #fff;
}
	*/
/*新闻列表*/


.message-nav{
	width: 820px;
	
}
.message-nav ul{
	height: auto;
	overflow: hidden;
	margin: 30px 0;
}
.message-nav li{
	width: 100px;
	height: 37px;
	margin-right: 20px;
	float: left;
}
.message-nav a{
	font-size: 14px;
	line-height: 35px;
	color: #000000;
	text-align: center;
	display: block;	
	border-radius: 35px;
	border: #000 solid 1px;
}
.message-nav a:hover{
	color: #fff;
	background: #1074bf;
	border-color:rgba(0,0,0,0);
}
.message-nav li.on a{
	color: #fff;
	background: #1074bf;
	border-color:rgba(0,0,0,0);
}
.message-body{
	width: 820px;
	
}
.message-body_sub{
	height: auto;
	overflow: hidden;	
}
.message-body_item{
	width: 310px;
	padding-left: 70px;
	padding-right: 30px;
	padding-bottom: 50px;
	float: left;
	position: relative;
}
.message-body_time{
	width: 60px;
	background: #1074bf;
	position: absolute;
	top: 10%;
	left: 0;
}
.message-body_time big{
	display: block;
	font-size:24px ;
	line-height: 38px;
	height: 38px;
	color: #fff;
	text-align: center;
	border-bottom: #1065a6 solid 1px;
}
.message-body_time small{
	display: block;
	font-size: 10px ;
	line-height: 20px;
	height: 20px;
	color: #fff;
	text-align: center;
	border-top: #1982d3 solid 1px;	
}
.message-body_item h3{
	font-size: 14px;
	line-height: 30px;
	height: 30px;
	border-bottom: #b2b2b2 dashed 1px;
}
.message-body_item p{
	font-size: 12px;
	line-height: 20px;
	margin-top: 5px;
	height: 40px;
	overflow: hidden;
	
}

.message-body_pages li{
	display: inline;
}
.message-body_pages ul{
	height: auto;
	overflow: hidden;
	text-align: center;
	
}
.message-body_pages a{
	display: inline-block;
	font-size: 14px;
	line-height: 30px;
	height: 30px;
	width: 30px;
	text-align: center;
	color: #fff;
	background: #000;
	border-radius: 100%;
	
}
.message-body_pages li.prev a,
.message-body_pages li.next a{
	width: 60px;
	color: initial;
	border-radius: initial;
	background: initial;
}
.message-body_pages span{
	margin: 0 5px;
}
/*.content-body4{
	margin: 20px 30px;
	position: relative;
	height: 540px;
}
.content-body4_cate{
	float: left;
	
	width: 102px;
	height: 37px;
	margin-right: 16px;
}
.content-body4_cate a{
	font-size: 14px;
	line-height: 35px;
	color: #000000;
	text-align: center;
	display: block;	
	height: 35px;
	width: 100px;
	border-radius: 35px;
	border: #000 solid 1px;
}
.content-body4_sub{
	
	height: auto;
	overflow: hidden;
	position: absolute;
	top: 60px;
	left: 10px;
	width: 850px;
	display: none;
}
.content-body4_time{
	width: 60px;
	background: #1074bf;
	position: absolute;
	top: 10%;
	left: 0;	
}
.content-body4_time big{
	display: block;
	font-size:24px ;
	line-height: 38px;
	height: 38px;
	color: #fff;
	text-align: center;
	border-bottom: #1065a6 solid 1px;
	
	
}
.content-body4_time small{
	display: block;
	font-size: 10px ;
	line-height: 20px;
	height: 20px;
	color: #fff;
	text-align: center;
	border-top: #1982d3 solid 1px;	
	
}
.content-body4_news{
	width: 320px;
	padding-left: 70px;
	padding-right: 30px;
	padding-bottom: 50px;
	float: left;
	position: relative;
}
.content-body4_news h3{
	font-size: 14px;
	line-height: 30px;
	height: 30px;
	border-bottom: #b2b2b2 dashed 1px;
}
.content-body4_news p{
	font-size: 12px;
	line-height: 20px;
	margin-top: 5px;
	height: 40px;
	overflow: hidden;
	
}
.content-body4_cate a:hover{
	
	color: #fff;
	background: #1074bf;
	border-color:rgba(0,0,0,0);
}
.content-body4 .on .content-body4_sub{
	display: block;
}
.content-body4 .on .content-body4_cate a{
	background: #1074bf;
	border-color:rgba(0,0,0,0);
	color: #fff;
}
.content-body4_pages{
	position: absolute;
	bottom: 50px;
	left: 0;
	width: 100%;
	display: none;
	
}
.content-body4 .on .content-body4_pages{
	display: block;
}
.content-body4_pages li{
	display: inline-block;
}
.content-body4_pages ul{
	height: auto;
	overflow: hidden;
	text-align: center;
	
	
}
.content-body4_pages a{
	display: inline-block;
	font-size: 14px;
	line-height: 30px;
	height: 30px;
	width: 30px;
	text-align: center;
	color: #fff;
	background: #000;
	border-radius: 100%;
}
.content-body4_pages li:first-child a,
.content-body4_pages li:last-child a{
	width: 60px;
	
	color: initial;
	border-radius: initial;
	background: initial;
}
.content-body4_pages .le{
	font-size: 14px;
	line-height: 30px;
	height: 30px;
	color: initial;
	border-radius: initial;
	background: initial;
}*/
